{% extends 'taller/base.html' %}

{% load static %}

{% block title %} Agregar Productos {% endblock %}

{% block encabezado %} 

<link rel="stylesheet" href="{% static 'app/css/estilos-agregar.css' %}">

{% endblock %}

{% block contenido %}
{% load humanize %}
<br>
<br>
<br>

<div class="card">
    <div class="card-body">
        <h2>Listado de productos</h2>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        
            {% for p in productos %}
        
            <tr>
                <td>{{ p.nombre | title }}</td>
                <td>${{ p.precio | intcomma }}</td>
                <td>
                    <a href="{% url 'update_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'delete_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            
        
            {% endfor %}
        
        </table>
    </div>

</div>





{% endblock %}