{% extends 'taller/base.html' %}

{% load static %}

{% block title %} Nosotros {% endblock %}

{% block encabezado %} 
    <link rel="stylesheet" href="{% static 'app/css/estilos-nosotros.css' %}">
{% endblock %}

{% block contenido %}

<div class="container">

  <div class="row max-auto"> <!--Inicio descripción servicios-->
      <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="foto1">
              <img src="{% static 'app/img/foto1.jpeg' %}" class="img-fluid" alt="">
          </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="texto-servicios text-dark">
              <h2 class="titulo-servicio text-dark"><strong>Nuestros servicios</strong></h2>
              <p class="lead">
                  Nuestro taller automotriz <strong>Juan El Mecánico</strong> tiene como objetivo prestar a nuestros
                  clientes un servicio de calidad y adecuado en el mantenimiento de sus vehículos. Con esto, nuestros
                  clientes obtendrán ventajas en cuanto a la vida útil de sus vehículos, un desempeño más seguro y sin
                  problemas, además, de un menor consumo de combustible.
              </p>
              
          </div>  
      </div>
 </div> <!--Término descripción servicios-->

  <div class="row mx-auto"> <!--Inicio descripción visión-->

    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="texto-vision text-dark">
            <h2 class="titulo-vision text-dark"><strong>Nuestra visión</strong></h2>
            <p class="lead">
                Nuestra misión es entregar un servicio de calidad para brindar soluciones viables y duraderas que conserven
                los autos en un estado óptimo, eficiente y seguro por medio de persona altamente capacitado,
                motivado y productivo que tiene como principal interés la seguridad y satisfacción de nuestros clientes.
            </p>     
        </div>  
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="foto2">
          <img src="{% static 'app/img/foto2.jpeg' %}" class="img-fluid" alt="">
      </div>
  </div>

  </div> <!--Término descripción visión-->



  <div class="row "> <!--Inicio descripción misión-->
      <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="foto3">
              <img class="foto3" src="{% static 'app/img/foto3.jpg' %}" alt="">
          </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="texto-mision text-dark">
              <h2 class="titulo-mision text-dark"><strong>Nuestra misión</strong></h2>
              <p class="lead">
                Nuestra función como taller mecánico es realizar trabajos de diagnóstico, mantenimiento o sustitución
                en el sistema mecánico del motor, incluidas sus estructuras, equipo eléctrico, como los auxiliares de 
                alumbrado, señalización, acondicionamiento e instrumental de indicación y control.
              </p>
              
          </div>  <!--Término descripción misión-->
    </div>
</div>
<hr>


</div> 
<!-- Imágenes de vehículos-->
<!-- <div class="fotosvehiculos col-12"> 
    <img class="vehiculos" src="img/auto1.png" alt="" style="width: 400px;">
    <img class="vehiculos" src="img/auto2.jpg" alt="" style="width: 400px;">
    <img class="vehiculos" src="img/auto3.webp"alt="" style="width: 400px;">
</div>  -->

<section class="portafolio py-4">
    <div class="container row mx-auto">
        <div class="galeria-port">
            <div class="imagen-port col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'app/img/auto1.png' %}" alt="">
            </div>
            <div class="imagen-port col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'app/img/auto2.jpg' %}" alt="">
            </div>
            <div class="imagen-port col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'app/img/auto3.webp' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!--Fin imágenes-->

<div class="container-final">
    <div class="texto-empresa text-center text-sm-center">
      <p class="lead grid text-center text-light">
      En esta empresa trabajamos con todo tipo de autos, ya sean eléctricos o híbridos.<br>
      Sólo debes venir y nosotros le haremos un primer diagnóstico gratis a tu vehículo. <br>
      <strong>¡Te esperamos!</strong>
      </p>
    </div>
</div>

<br>



{% endblock %}