{% extends 'taller/base.html' %}

{% load static %}

{% block title %} Bienvenidos {% endblock %}

{% block encabezado %} 
    <link rel="stylesheet" href="{% static 'app/css/estilos-principal.css' %}">
{% endblock %}

{% block contenido %}
    
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/img/vecteezy_the-hand-of-a-mechanic-wearing-gloves-is-fixing-a-car-tire_14197440_451.jpg' %}"
                    class="d-block w-100 d-img" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/vecteezy_man-using-wrench-on-car-engine_1227894.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/vecteezy_male-mechanic-rolling-tire_1226506.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="w-50 mx-auto text-center pt-5" id="p1">
        <h1 class="p-3 fs-2 border-top">Un taller único para tu <span class="text-warning" style="font-size: 30px;">Vehículo</span></h1>
        <p id="p2"><span class="text-dark">Juan Mecánico </span><span class="text-warning">Services</span> es un taller
            de confiabilidad donde te ayudaremos con lo que necesites
            para tu Vehículo.</p>
    </div>
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="{% static 'app/img/aceite1.png' %}" alt="Servicios" width="150">
                <div>
                    <h3 id="tipo3" class="pb-1">Cambio de aceite</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="{% static 'app/img/mantencion1.png' %}" alt="Servicios" width="200px" height="160">
                <div>
                    <h3 id="tipo3">Mantención por Kilometraje</h3>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="{% static 'app/img/scanner1.png' %}" alt="Servicios" width="230">
                <div>
                    <h3 id="tipo3" class="px-2 pb-1">Scanner</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="{% static 'app/img/frenos1.png' %}"
                    alt="Servicios" width="150">
                <div>
                    <h3 id="tipo3" class="pb-1">Frenos</h3>
                    <ul>
                        <li>
                            Cambio de pastillas
                        </li>
                        <li>
                            Embalatado
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="portafolio">
        <div class="container">
            <h2 class="titulo">Un taller con resultados increibles!</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="{% static 'app/img/WhatsApp Image 2023-04-07 at 22.31.55 (1).jpeg' %}" alt="">
                </div>
                <div class="imagen-port">
                    <img src="{% static 'app/img/WhatsApp Image 2023-04-07 at 22.31.55.jpeg' %}" alt="">
                </div>
                <div class="imagen-port">
                    <img src="{% static 'app/img/WhatsApp Image 2023-04-07 at 22.31.56 (1).jpeg' %}" alt="">
                </div>
                <div class="imagen-port">
                    <img src="{% static 'app/img/WhatsApp Image 2023-04-07 at 22.31.56.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </section>

<div class="mapa">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4707.835453231073!2d-70.72727823791054!3d-33.45080785099403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c386e021f48d%3A0x47858360923c3eab!2sTaller%20Mec%C3%A1nico%20JimmyMotors!5e0!3m2!1ses!2scl!4v1680721306860!5m2!1ses!2scl"
        width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}


